*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
}
.navbar{
    width: 100%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo{
    width: 160px;
    cursor: pointer;
}
.cart{
    width: 40px;
    cursor: pointer;
}
nav{
    flex: 1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.content h1{
    font-size: 60px;
    font-weight: 100
}
.content h1{
    font-size: 60px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: blue;
}
.content p{
    font-size: 20px;
    color: gray;
}
.content{
    margin-left: 10%;
    margin-top: 10%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient(45deg, violet, aqua);
    border-radius: 10%;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94, 28, 68, 0.15);
}
.arrow{
    margin-top: 40px;
    display: 25px;
}
.arrow img {
    width: 40px;
    margin-left: 25px;
}
.image{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 160px;
}
.social{
    transform: rotate(-90deg);
    position: absolute;
    left: -80px;
    bottom: 180px;
}
.social a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
}
